.contour1{
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(32,32,32,1) 2%, rgba(45,45,45,1) 6%, rgba(75,75,75,1) 11%, rgba(99,99,99,1) 18%, rgba(136,136,136,1) 30%, rgba(173,173,173,1) 59%, rgba(222,222,222,1) 100%);    border-radius:50% ;
    border-radius: 50%;
    height: 74.2px;
    width: 74.2px;
}

.contour2{
    background: linear-gradient(90deg, rgba(111,110,110,1) 0%, rgba(177,177,177,1) 6%, rgba(188,188,188,1) 15%, rgba(203,203,203,1) 37%, rgba(212,212,212,1) 65%, rgba(222,222,222,1) 100%);
    border-radius: 50%;
    width: 74.2px;
    height: 74.2px;
}

.contour3{
    background: linear-gradient(90deg, rgba(79,79,79,1) 0%, rgba(121,121,121,1) 92%, rgba(79,79,79,1) 100%);
    border-radius: 50%;
    width: 74.2px;
    height: 74.2px;
}

.contour4{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 59%, rgba(177,177,177,1) 70%, rgba(247,247,247,1) 74%);
}

.flash{
    transform: translate(1.5px,1.5px);
}
.objectif{
    transform: translate(5px,5px);
}