.objectif{
    height: 64.2px;
    width: 64.2px;
    border-radius: 50% 50% 50% 50%;
    background: radial-gradient(circle, rgba(2,0,36,1) 37%, rgba(1,0,63,1) 46%, rgba(0,0,77,1) 51%, rgba(0,0,83,1) 55%, rgba(0,0,0,1) 57%);
    position: relative;
    transform-origin: center;
}

.objectif::after{
    content:"";
    position: absolute;
    height: 10px;
    width: 10px;
    transform-origin: center;
    transform: translate(27.1px,27.1px);
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,16,32,1) 18%, rgba(0,9,18,1) 28%, rgba(0,17,33,1) 37%, rgba(0,18,35,1) 46%, rgba(0,18,37,1) 53%, rgba(0,14,29,1) 65%, rgba(0,42,85,1) 78%, rgba(31,82,136,1) 85%, rgba(47,96,149,1) 93%, rgba(148,187,233,1) 95%, rgba(0,0,0,1) 100%);
}